<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if note %}
    <table>
        <tr>
            <td>format</td>
            <td>created_at</td>
            <td>contents</td>
        </tr>
        <tr>
            <td>{{ note.format }}</td>
            <td>{{ note.created_at }}</td>
            <td>{{ note.contents }}</td>
        </tr>
    </table>
    {% else %}
        <p>Note not found</p>
    {% endif %}
</body>
</html>